*{
    margin: 0;
}
body{
    background-color: black;
}
#container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:  20px ;
    padding: 40px 20px;
}
#container > div {
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-flow: column ;
    position: relative ;
}
#container > div > img {
    width: 300px;
    height: 70%;
    cursor: pointer;
    transition: 0.1s ;
}
#container > div > b {
    position: absolute;
    /* bottom: 55px; */
    right: 5px;
    background-color: black;
    padding: 1px;
    border-radius: 2px;
    font-weight: 600;
    color: white ;
    font-size: 14px;
    top: calc( 70% - 50px);
    padding: 2px 5px;
}
#container > div > img:hover {
    transform: scaleX(1.08) ;
}
.title {
    /* font-size: ; */
    font-weight: 900;
    color: white ;
}

.channel-name , .view-count {
    color: rgb(187, 187, 187) ;
    font-size: 12px;
}

.search-container {
    width: 60%; 
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    height: 40px;
}
.search-container  > input {
    flex-grow: 1;
    border: none ;
    padding: 0px 20px;
    border-radius: 19px;
}
.search-container  > input:focus {
    outline : none ;
}
.search-container > button {
    border: none ;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white ;
    outline: 2px solid gray ;
    height: 38px;
    border-radius: 19px;
    padding: 0 10px;
}